NODE_ENV=development
PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=babyfoot
DB_PASSWORD=password
DB_NAME=babyfoot_clementine
CORS_ORIGIN=http://localhost:5173
MYSQL_ROOT_PASSWORD=password
PHPMYADMIN_PORT=8080
JWT_SECRET=secret
JWT_EXPIRES_IN=7d
